.banner-container{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    height: 300px;
    padding: 2%;
    position: relative;
    width: 100vw;
}

.btn-left{
    position: absolute;
    left: 10px;
    height: 50%;
    top:80px ;
    z-index: 20;
}

.btn-right{
    right: 0;
    position: fixed;
    height: 50%;
    top:80px ;
    z-index: 20;
}

.banner{
    border: 1px solid;
    flex: 0 0 50%;
    overflow: hidden;
    position: relative;
}
.caption{
    position: absolute;
    z-index: 50;
    left: 50%;
    top:0;
}
.banner-container::-webkit-scrollbar {
  display: none;
}