.scrollable-card-container{
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 10px;
    padding: 50px;
    text-align: center;
    scrollbar-color: red;
}
.scrollable-card-container::-webkit-scrollbar{
    display: none;
}

.scrollable-card-container .product-card{
       border: 1px solid black;
       width: 300px;
       flex-shrink: 0;
       flex-grow: 0;
       /* flex:0 0 300px; */
}

.scrollable-card-container .product-card img{
    width: 100%;
}